/* General CSS*/
body {
  font-family: 'Lato', sans-serif;
}

/*Header*/
.logo {
  margin-top: 25px;
  border-radius: 50%;
}

h1 {
  font-size: 75px;
  font-weight: 900;
  margin-bottom: -15px;
}

.ninja {
  font-size: 26px;
  font-weight: 300;
}

hr {
  background-color: #D0C4AB; height: 5px;
  margin-top: 5px;
}
/*End of Header*/
/*Hero and Featured work*/
.bg-blue {
  background: #131A2D;
  margin: 0;
  padding: 20px 25px;
  color: #D0C4AB;
}

/*Featured work*/
.featured {
  padding-bottom: 0px;
}

a {
  color: #D0C4AB;
  font-weight: 300;
}
/*End of Featured Work*/

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
  .container {
    width: 1115px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .title-name {
    font-size: 55px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 850px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .middle {
    text-align: center;
  }
  
  hr {
    height: 2px;
  }
  
  .img-responsive {
     margin: 0 auto;
 }
}